# Lásd: https://help.github.com/articles/ignoring-files/

# függőségek
/node_modules
/.pnp
.pnp.js

# környezeti változók
.env
.env.local
.env.*.local

# build
/dist
/build

# egyéb
.DS_Store
*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
