@import "../../index.scss";

.login {
    display: flex;
    height: 100vh;

    .left {
        width: 50%;
        background-color: $deleteColor;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100vh;

        h1 {
            font-weight: 500;
            margin-bottom: 20px;
            font-size: 2.7rem;
        }


        form {
            padding: 0 10px;
            width: 350px;

            label {
                display: block;
                font-size: 1.5rem;
                margin-top: 13px;
                margin-bottom: 10px;

            }

            input {
                height: 30px;
                margin-bottom: 10px;
                width: 100%;
                background-color: white;
                border: none;
                border-bottom: 1px solid $dark;
                outline: none;
                border-radius: 4px;
                padding: 0 5px;

            }

            p {
                margin-top: 10px;
            }
        }

        .login__signInButton {
            background: $buttonBackground;
            border-radius: 2px;
            width: 100%;
            height: 30px;
            border: 1px solid;
            margin-top: 10px;
            border-color: $borderColor;
            cursor: pointer;
            border-radius: 4px;

            &:active {
                transform: scale(0.95);
            }
        }

        .login__resetSection {

            button {

                width: 100%;
                height: 30px;
                border: 1px solid;
                margin-top: 10px;
                border-color: $borderColor;
                cursor: pointer;
                border-radius: 4px;

                &:active {
                    transform: scale(0.95);
                }

            }
        }
    }

    .right {
        width: 50%;
        height: 100%;
        background-image: url("https://images.unsplash.com/photo-1566897819059-db42e135fa69?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80");

    }
}