@import "../index.scss";

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.sidebar__container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding-top: 15px;
  border-radius: 10px;

  height: 100%;
  width: 100%;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .flex-item:nth-of-type(1) {
    flex-grow: 1;
  }
  .flex-item:nth-of-type(2) {
    flex-grow: 2;
  }

  .sidebar__buttons {
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 30px;

    .sidebar__button {
      width: 100%;
      height: 100px;
      padding: 0 10px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: $font-color;
      font-weight: bold;
      font-size: 1.5rem;
      text-align: center;
      border: 1px solid $dark;
      border-radius: 0.3rem;

      &:active {
        transform: scale(0.95);
      }
    }
  }
}

.sidebar__button_active {
  background-color: $buttonBackground;
}
