@import "../../index.scss";

.addProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 40px;
  width: 100%;

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
    padding: 0 10px;
    width: 100%;

    .addProduct__row {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 60px;
      gap: 80px;

      .addProduct__box {
        width: 400px;
        height: 400px;
        padding: 20px;
        border: 1px solid $borderColor;
        border-radius: 10px;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

        label {
          display: block;
          font-size: 1.5rem;
          padding-bottom: 3px;
          font-weight: bold;
        }

        input,
        select {
          height: 30px;
          margin-bottom: 40px;
          width: 100%;
          background: transparent;
          border: none;
          border-bottom: 1px solid $dark;
          outline: none;
          border-radius: 4px;
          padding: 5px;
        }

        textarea {
          width: 100%;
          padding: 10px;
          text-align: justify;
          margin-top: 15px;
          background: transparent;
        }
      }
    }

    .login__signInButton {
      background: $buttonBackground;
      border-radius: 2px;
      width: 20%;
      height: 30px;
      border: 1px solid;
      margin-top: 30px;
      border-color: $borderColor;
      cursor: pointer;
      border-radius: 4px;
    }
  }
}
